@font-face{
	font-family: "samim";
	src: url(fonts/samim.woff2) format(woff2);
}

body {
	font-family: "samim", "DejaVu Sans", sans-serif ;
}

main {
	max-width: 800px ;
	margin: auto ;
}

img {
	max-width: 100%;
}

img:not(.contact_box img) {
	display: block;
	margin: auto;
}

header h1 {
	text-align: center ;
}

footer {
	text-align: center ;
	clear: both ;
}

/* For TAGLIST.HTML */
.taglist {
	text-align: center ;
	clear: both ;
}

/* For NEXTPREV.HTML */
#nextprev {
	/* The container for both the previous and next articles. */
}
#prevart {
	float: left ;
	text-align: left ;
}
#nextart {
	float: right ;
	text-align: right ;
}
#nextart,#prevart {
	max-width: 33%;
}

.contact_box {
	padding: 0.5em;
	text-decoration: none;
}

.contact_img {
	max-height: 2.5em;
}

.div-rtl{
	direction: rtl;
}

#tag_personal:before { content: '😎' ; }
#tag_tech:before { content: '🤖' ; }
#tag_software:before { content: '💻' ; }
#tag_movies:before {content: '🎥' ; }
#tag_privacy:before {content: '🥸' ;}
#tag_religion::before { content: '🕌'}
#tag_work::before { content: '🛠️'}
